{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Import File{% endblock %}
{% block css %}
    <link rel="stylesheet" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/4.0.0/handsontable.min.css">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12" style="margin-bottom:40px">
            <h1 style="margin-bottom: 40px;">Check file</h1>
            <h4>Preview of the first 5 rows</h4>
            <form method="POST" action="/anonymizer/connection/storefile/">{% csrf_token %}
                <button type="submit" class="btn btn-primary ">
                    Continue <i class="fa fa-caret-right"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="preview_table"></div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/4.0.0/handsontable.min.js"></script>
    <script src="{% static "anonymizer/js/parsefile.js" %}"></script>
    <script>
        $(function () {
            initTable();
        });
    </script>
{% endblock %}