{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Import File{% endblock %}
{% block css %}
    <link rel="stylesheet" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/4.0.0/handsontable.min.css">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12" style="margin-bottom:40px">
            <h1 style="margin-bottom: 40px;"><i class="fas fa-shield-alt"></i> Preview and Risk Analysis</h1>


            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#risk-tab">Risk Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#privacy-tab">Apply Privacy Models</a>
                </li>
            </ul>

            <div class="tab-content tab-space">
                <div class="tab-pane active" id="risk-tab">
                    <select id="attackermodel" style="margin-bottom:40px;margin-top:20px;">
                        <option value="prosecutor">Prosecutor Attacker Model</option>
                        <option value="journalist">Journalist Attacker Model</option>
                        <option value="marketer">Marketer Attacker Model</option>
                    </select>
                    <div class="row">
                        <div class="col-md-2">
                            <div id="g1"></div>
                        </div>
                        <div class="col-md-2">
                            <div id="g2"></div>
                        </div>
                        <div class="col-md-2">
                            <div id="g3"></div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="privacy-tab">
                    <h3>Select Privacy Model to apply</h3>
                    <div style="margin-top:10px;">
                        <b>Privacy Model</b>
                    </div>
                    <select style="margin-bottom:40px;">
                        <option value="prosecutor" selected="selected">k-Anonymity</option>
                        <option value="journalist">k-Map</option>
                        <option value="marketer">Differential privacy</option>
                        <option value="marketer">δ-Precense</option>
                    </select>
                    <div>
                        <b>Privacy Model Parameters</b>
                    </div>
                    <div style="margin-bottom:30px">
                        k-Parameter <input type="text" name="kparameter">
                    </div>
                    <div>
                        <b>Threshold Selection</b>
                        Acceptable highest probability of re-identification for a single record
                    </div>
                    <div>
                        Select a percent <input type="number" id="thresholdSelector" min="0" max="100" step="1"
                                                name="Threshold" value=20>
                    </div>
                    <div>
                        <b>Sample Extraction</b>
                        Percent of data to be considered research sample.
                        To consider the whole dataset as a research sample simply put percent as 100
                    </div>
                    <div style="margin-bottom:30px">
                        Select a percent <input type="number" id="sampleSelector" min="1" max="100" step="1"
                                                name="Threshold" value=50>
                    </div>
                    <a class="btn btn-warning" style="margin-bottom:20px" href="#"><i
                            class="fas fa-user-secret"></i> Apply Privacy Model</a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <h3><i class="fas fa-seearch"></i>Preview of anonymised dataset</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-success" style="margin-bottom:20px" href="#"><i
                        class="fas fa-table"></i> Export to CSV</a>
                <div id="preview_table"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/4.0.0/handsontable.min.js"></script>
    <script src="{% static 'vendor/justgage/justgage.js' %}"></script>
    <script src="{% static 'vendor/justgage/raphael-2.1.4.min.js' %}"></script>
    <script>
        //Placeolder variables for count meters
        var g1, g2, g3;
        //Varaibles where risk analysis results is stored
        var g1Prosecutor = 0, g1Journalist = 0, g2Prosecutor = 0, g2Journalist = 0, g3Prosecutor = 0, g3Journalist = 0,
            g3Marketer = 0;
        //Default values for threshold and starting samplePercent used
        var threshold = 0.2;
        var samplePercent = 50;
        var dataStatic;

        window.onload = function () {
            g1 = new JustGage({
                id: "g1",
                value: 0,
                min: 0,
                max: 100,
                title: "Records at risk",
                label: "%"
            });
            g2 = new JustGage({
                id: "g2",
                value: 0,
                min: 0,
                max: 100,
                title: "Highest Risk",
                label: "%"
            });
            g3 = new JustGage({
                id: "g3",
                value: 0,
                min: 0,
                max: 100,
                title: "Success Rate",
                label: "%"
            });
            document.getElementById('attackermodel').addEventListener('change', function () {
                if (document.getElementById('attackermodel').value == "marketer") {
                    document.getElementById("g1").style.display = "none";
                    document.getElementById("g2").style.display = "none";
                    g1.refresh(0);
                    g2.refresh(0);
                    g3.refresh(g3Marketer);
                } else if (document.getElementById('attackermodel').value == "prosecutor") {
                    document.getElementById("g1").style.display = "block";
                    document.getElementById("g2").style.display = "block";
                    g1.refresh(g1Prosecutor);
                    g2.refresh(g2Prosecutor);
                    g3.refresh(g3Prosecutor);
                } else if (document.getElementById('attackermodel').value == "journalist") {
                    document.getElementById("g1").style.display = "block";
                    document.getElementById("g2").style.display = "block";
                    g1.refresh(g1Journalist);
                    g2.refresh(g2Journalist);
                    g3.refresh(g3Journalist);
                }

            });

            document.getElementById('thresholdSelector').addEventListener('change', function () {
                threshold = document.getElementById('thresholdSelector').value * 0.01;
                riskEvaluation(dataStatic, threshold, samplePercent);
            });

            document.getElementById('sampleSelector').addEventListener('change', function () {
                samplePercent = document.getElementById('sampleSelector').value;
                riskEvaluation(dataStatic, threshold, samplePercent);
            });
            // document.getElementById('attackermodel').addEventListener('change', function () {
            //     g1.refresh(getRandomInt(50, 100));
            //     g2.refresh(getRandomInt(50, 100));
            //     g3.refresh(getRandomInt(0, 50));
            // });

        }
    </script>
    <script src="{% static  'anonymizer/js/previewfilerisk.js' %}"></script>
    <script>
        $(function () {
            data = initTable({{ pk }});
            {#console.log(data);#}
        });


    </script>

    <script>
        //  url_string = window.location.href;
        //  var url = new URL(url_string);
        //  var pk = url.searchParams.get(pk);
        {#var data = {{ data|safe}};#}
        // var identifiers = data.shift();

        $.ajax({
            type: "get",
            url: "/anonymizer/connection/" + {{ pk }} +"/query/?q=all()",
            data: {},
            dataType: "json",
            success: function (data) {
                dataStatic = data;
                riskEvaluation(data, threshold, samplePercent);
            },
            error: function (xhr, status, error) {
                console.log(error)
            }
        });

        /*
        * This function accepts the data
        * and copies them to avoid errors when re-calculating
        * when users change the risk threshold or
        * the percent of sample extracted.
        * */
        function riskEvaluation(olddata, threshold, samplePercent) {
            var data = olddata.slice();
            /* Copy the data because the original is still needed for later calls of the function*/

            /* The data is being provided in an array of objects here we convert the data from array->object
            to array keys of the object and another array with every line representing a  iteration of the object*/
            var identifiers = Object.keys(data[0]);
            /* The data is being provided in an array of objects here we convert those objects to arrays*/
            var dataLength = data.length;
            for (var tempCounter = 0; tempCounter < dataLength; tempCounter++) {
                var result = Object.keys(data[tempCounter]).map(function (key) {
                    return data[tempCounter][key];

                })
                data[tempCounter] = result;
            }

            /*
            * HIPAA based quasi identifiers and common namings of them
            * to be used for automatically selecting them
            * The name of the columns must be correct grammatically
            *The comparison is case insensitive
            * */
            var arrayOfNames = ["name", "surname", "alias", "nickname", "family name"];
            var arrayOfAdresses = ["address", "addresses", "home", "street", "zip code", "city", "county", "state", "country"];
            var arrayOfDates = ["date", "birth date", "death date", "discharge date", "admission date", "age"];
            var arrayOfPhones = ["phone", "cellphone"];
            var arrayOfFax = ["fax", "fax number"];
            var arrayOfEmail = ["email", "e-mail", "electronic mail"];
            {#var arrayOfSocialSecurity =[];#}
            {#var arrayOfMedicalRecord =[];#}
            {#var arrayOfHealthPlanBeneficiary =[];#}
            {#var arrayOfAccountNumber =[];#}
            {#var arrayOfCertificateNUmber =[];#}
            {#var arrayOfVehicleIdentifier =[];#}
            {#var arrayOfDeviceIdentifier =[];#}
            {#var arrayOfUrl =[];#}
            {#var arrayOfIp =[];#}
            var arrayOfBioIdentifiers = ["sex", "gender", "race", "marital"];

            var identifiersLength = identifiers.length;
            for (var tempCounter = 0; tempCounter < identifiersLength; tempCounter++) {
                if ((IdentifierCheck(identifiers[tempCounter], arrayOfNames) == 0) && (IdentifierCheck(identifiers[tempCounter], arrayOfAdresses) == 0) && (IdentifierCheck(identifiers[tempCounter], arrayOfDates) == 0) && (IdentifierCheck(identifiers[tempCounter], arrayOfPhones) == 0) && (IdentifierCheck(identifiers[tempCounter], arrayOfFax) == 0) && (IdentifierCheck(identifiers[tempCounter], arrayOfEmail) == 0) && (IdentifierCheck(identifiers[tempCounter], arrayOfBioIdentifiers) == 0)) {
                    identifiers.splice(tempCounter, 1);
                    for (var tempCounter1 = 0; tempCounter1 < data.length; tempCounter1++) {
                        data[tempCounter1].splice(tempCounter, 1);
                    }
                    tempCounter--;
                    identifiersLength = identifiers.length;
                }

            }


            var sampleOffset = 0;
            var sampleFactor = 0.45;
            var sampleIgnoreOutliers = false;

            var popOffset = 0.45;
            var popFactor = 0.45;
            var popIgnoreOutliers = true;

            var sampleOnlyOffset = 0;
            var sampleOnlyFactor = 0.9;
            var sampleOnlyIgnoreOutliers = false;

            var prosecutorOffset = 0.9;
            var journalistOffset = 0.933;
            var marketerOffset = 0.966;

            var sample;
            var population;


            if (samplePercent == 100) {
                sample = getGroups(data, identifiers, sampleOnlyOffset, sampleOnlyFactor, 0, sampleOnlyIgnoreOutliers);
                population = sample;
            } else {
                var tempSampleSize = data.length * samplePercent / 100;

                data.splice(0, tempSampleSize);


                sample = getGroups(data, identifiers, sampleOffset, sampleFactor, 0, sampleIgnoreOutliers);
                population = getGroups(data, identifiers, popOffset, popFactor, 0, popIgnoreOutliers);
            }

            {#var tempc = 0#}
            {#for (var key in sample) {#}
            {#    delete sample[key];#}
            {#    if (tempc == 400) {#}
            {#        break;#}
            {#    }#}
            {#    tempc++;#}
            {# }#}

            getJournalistRisk(sample, population, journalistOffset, threshold);
            getMarketerRisk(sample, population, marketerOffset, threshold);
            getProsecutorRisk(sample, population, prosecutorOffset, threshold);
        }

        // ignote outliers true if
        function getGroups(data, quasi, offset, factor, progress, ignoreoutliers) {
            // Getting data from database and number of quasi identifiers
            var map = {};
            var indices = [];
            for (var tempCounter = 0; tempCounter < quasi.length; tempCounter++) {

                var tempData = [];
                for (var tempCounter2 = 0; tempCounter2 < data.length; tempCounter2++) {
                    tempData.push(data[tempCounter2][tempCounter])
                }
                indices.push(tempData);
            }

            var capacity = data.length;
            if (capacity < 10) {
                capacity = 10;
            }
            var numRows = data.length;

            for (var row = 0; row < numRows; row++) {
                var prog = offset + row / numRows * factor;
                if (prog != progress) {
                    progress = prog;
                }

                var key = hashEntry(data[row]);

                if (!map.hasOwnProperty(key)) {
                    map[key] = 1;
                } else {
                    map[key] = map[key] + 1;
                }
            }

            console.log(map);
            return map
        }

        /*
        * This function produces a has from the row provided to it.
        * This moment the hashing is simply concating all the row parts
        * and using it as a key
        * */
        function hashEntry(row) {
            var temp = "";
            for (var it = 0; it < row.length; it++) {
                temp = temp.concat(row[it].toString());
            }

            return temp;

        }

        /*
        * This function computes the Risk of a prosecutor type of attack
        * */
        function getProsecutorRisk(sample, population, offset, threshold) {
            var progress = 0;
            var rA = 0;
            var rB = 0;
            var rC = 0;
            var numRecords = 0;
            var numClasses = 0;
            var smallestClassSize = Number.MAX_VALUE;
            var maxindex = Object.keys(sample).length;
            var index = 0;


            for (var prop in sample) {
                var elementSize = sample[prop];
                var prog = Math.round(offset + index / maxindex * 3.3);
                if (prog != progress) {
                    progress = prog
                }
                index = index + 1;

                // if element isn't supressed
                if (1) {
                    var groupSize = elementSize;

                    // Computing rA
                    if (1 / groupSize > threshold) {
                        rA += groupSize;
                    }

                    // Computing rB
                    if (groupSize < smallestClassSize) {
                        smallestClassSize = groupSize;
                    }

                    // Computing rC
                    numClasses++;
                    numRecords += groupSize;

                }

                if (stop) {

                }

            }

            rA = rA / numRecords;

            rB = 1 / smallestClassSize;

            rC = numClasses / numRecords;

            g1Prosecutor = rA * 100;
            g2Prosecutor = rB * 100;
            g3Prosecutor = rC * 100;

            g1.refresh(g1Prosecutor | 0);
            g2.refresh(g2Prosecutor | 0);
            g3.refresh(g3Prosecutor | 0);
        }

        /*
        * This function computes the Risk of a journalist type of attack
        * */
        function getJournalistRisk(sample, population, offset, threshold) {
            var progress = 0;
            var rA = 0;
            var rB = 0;
            var rC = 0;
            var rC1 = 0;
            var rC2 = 0;
            var numRecordsInSample = 0;
            var numClassesInSample = 0;
            var smallestClassSizeInPopulation = Number.MAX_VALUE;
            var maxindex = Object.keys(sample).length;
            var index = 0;


            for (var prop in sample) {
                var elementSize = sample[prop];
                var prog = Math.round(offset + index / maxindex * 3.3);
                if (prog != progress) {
                    progress = prog
                }
                index = index + 1;

                // if element isnt supressed
                if (1) {
                    var groupSizeInSample = elementSize;
                    var groupSizeInPopulation = groupSizeInSample;
                    if (population != sample) {
                        groupSizeInPopulation = Object.keys(population).length;
                    }

                    // Computing rA
                    if (1 / groupSizeInPopulation > threshold) {
                        rA += groupSizeInSample;
                    }

                    // Computing rB
                    if (groupSizeInPopulation < smallestClassSizeInPopulation) {
                        smallestClassSizeInPopulation = groupSizeInPopulation;
                    }

                    // Computing rC
                    numClassesInSample++;
                    numRecordsInSample += groupSizeInSample;
                    rC1 += groupSizeInPopulation;
                    rC2 += groupSizeInSample / groupSizeInPopulation;
                }

                if (stop) {

                }

            }

            rA = rA / numRecordsInSample;
            rB = 1 / smallestClassSizeInPopulation;

            rC1 = numClassesInSample / rC1;
            rC2 = rC2 / numRecordsInSample;
            rC = Math.max(rC1, rC2);

            g1Journalist = rA * 100;
            g2Journalist = rB * 100;
            g3Journalist = rC * 100;

            g1.refresh(g1Journalist | 0);
            g2.refresh(g2Journalist | 0);
            g3.refresh(g3Journalist | 0);

        }

        /*
        * This function computes the Risk of a marketer type of attack
        * */
        function getMarketerRisk(sample, population, offset, threshold) {
            var progress = 0;
            var rC = 0;
            var numRecordsInSample = 0;
            var maxindex = Object.keys(sample).length;
            var index = 0;

            for (var prop in sample) {
                var elementSize = sample[prop];
                var prog = Math.round(offset + index / maxindex * 3.3);
                if (prog != progress) {
                    progress = prog
                }
                index = index + 1;

                // if element isnt supressed
                if (1) {
                    var groupSizeInSample = elementSize;
                    var groupSizeInPopulation = groupSizeInSample;
                    if (population != sample) {
                        groupSizeInPopulation = Object.keys(population).length;
                    }

                    // Computing rC
                    numRecordsInSample += groupSizeInSample;
                    rC += groupSizeInSample / groupSizeInPopulation;
                }

                if (stop) {

                }

            }

            rC = rC / numRecordsInSample;

            g3Marketer = rC * 100;

            g3.refresh(g3Marketer | 0);

        }

        /*
        * This helper function is used to check if a identifier
        * actually belongs in an prefilled array of
        * common namings of quasi identifiers
        * Returns 1 if the identifiers belongs in this group 0 if not
        * */
        function IdentifierCheck(currentId, idList) {
            for (var tempCounter = 0; tempCounter < idList.length; tempCounter++) {
                if (currentId.toUpperCase() == idList[tempCounter].toUpperCase()) {
                    return 1;
                }
            }
            return 0;
        }
    </script>
{% endblock %}