{% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
        <p class="o-red">{{ err }}</p>
    {% endfor %}
{% endif %}

{% for field in form %}
    <div class="row">
        <div class="{% if not full_row %}col-lg-6 {% endif %}col-sm-12">
            <div class="form-group">
                {{ field.label_tag }}
                {% if field.field.required %}
                    <span class="o-red">*</span>
                {% endif %}
                {{ field }}

                {% if field.errors %}
                    {% for err in field.errors %}
                        <p class="o-red">
                            {{ err }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}