<div class="configuration-teaser">
    <h5>{{configuration.name}}</h5>
    <table class="table">
        <tr>
            <td>Created</td>
            <td>{{ configuration.created|timesince }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {% if configuration.is_active %}
                    <i class="fa fa-check"></i> Active
                {% else %}
                    <i class="fa fa-ban"></i> Inactive
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Access</td>
            <td>
                Keys: {{ configuration.access_keys.count }} <br />
                <a href="/anonymizer/connection/{{configuration.pk}}/access-keys/">Edit</a>
            </td>
        </tr>
        <tr>
            <td>Actions</td>
            <td>
                {% if not configuration.is_active %}
                    <form method="POST" action = '/anonymizer/connection/{{configuration.pk}}/set-active/' class="activation-form">
                {% else %}
                    <form method="POST" action = '/anonymizer/connection/{{configuration.pk}}/set-inactive/' class="activation-form">
                {% endif %}

                    {% csrf_token %}

                    <div class="btn-group">
                        {% if not configuration.is_active %}
                            <button type="submit" class="btn btn-sm btn-success">Activate</button>
                        {% else %}
                            <button type="submit" class="btn btn-sm btn-default">Deactivate</button>
                        {% endif %}
                        <a href="/anonymizer/connection/{{configuration.pk}}/console/" class="btn btn-sm btn-info">
                            <i class="fa fa-search"></i> Query
                        </a>
                        <a href="/anonymizer/connection/{{configuration.pk}}/select-columns/" class="btn btn-sm btn-primary">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="/anonymizer/connection/{{configuration.pk}}/delete/" class="btn btn-sm btn-danger">
                            <i class="fa fa-times"></i> Delete
                        </a>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>